<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="PracticaTiendaDB"
         connectionString="Server=DESKTOP-NDSAP95;Database=PracticaBD_Tienda;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>